NUXT_SECURE_MODE=false
NUXT_MEILISEARCH_HOST=
NUXT_MEILISEARCH_API_KEY=
NUXT_PUBLIC_STATIC_DEPLOY=false

# Docker Production (node)
# MEILISEARCH_VERSION=latest
# MEILISEARCH_MASTER_KEY=change-me-to-a-long-random-secret
# MEILISEARCH_MANAGER_API_KEY=
# MEILISEARCH_NO_ANALYTICS=true
# MEILISEARCH_ENV=production
# MEILISEARCH_MANAGER_DOMAIN=meilisearch-manager.your-domain.com
# MEILISEARCH_INSTANCE_DOMAIN=search.your-domain.com
# MEILISEARCH_HOST=http://meilisearch:7700

# Docker Dev (nginx)
# MEILISEARCH_VERSION=latest
# MEILISEARCH_MASTER_KEY=masterKey
# MEILISEARCH_NO_ANALYTICS=true
# MEILISEARCH_ENV=development
# FORWARD_MEILISEARCH_MANAGER_PORT=8080
# FORWARD_MEILISEARCH_PORT=7700
